<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.hibnet.org/jst/Jst" 
       class = "org.hibnet.jst.jst.JstPackage"
       genModel = "org/hibnet/jst/Jst.genmodel" /> 
	
  </extension>





</plugin>
